.items-content{
    background-color: #e9e9d2;
    height: 100%;
}

.items-container{
    margin: 0 auto;
    padding: 6rem;
    height: 100%;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}



@media (max-width: 1112px) {
    .items-container{
        grid-template-columns: 1fr;
    }
}

